{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5 alert-success shadow" style="max-width: 600px;padding: 50px; border-radius: 10px;">
        <h3 class="text-center">Export Data From Database Tables</h3>
        <form action="{% url 'export_data' %}" method="POST" style="max-width: 600px;margin:auto;padding-top: 50px;">
            {% csrf_token %}

            <div class="form-group">
                <label for="model_name">Select Database Table</label>
                <select name="model_name" class="form-control" required>
                    <option value="" disabled selected>Select</option>
                    {% for model in custom_models %}
                        <option value="{{ model }}">{{ model }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Export Data" class="btn btn-success">
            </div>

            {% include 'alerts.html' %}

        </form>
    </div>
{% endblock %}
